body, html{
  height: 100%;
  width: 100%;
  margin:0;
}


.TopTitle {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  color: #2E2E2E;
  font-family: Tahoma, Geneva, sans-serif;
}

.Content{
  height: 90%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: stretch;
  background-color: #061B37;
}

.LeftBar{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18%;
  height: 100%;
}

.LeftBarSubdivisions{
  height: 31%;
  width: 97%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.LeftSubdivisionBackground {
  width: 87%;
  height: 87%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

.A {
  width: 87%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.C{
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Tahoma, Geneva, sans-serif;
}
.B{
  width: 100%;
  height: auto;
  max-height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Hun, #Ten, #One {
  width:auto;
  height:auto;
  max-width: 100%;
  max-height: 100%;
  
}

.AddRemoveButtons{
  display: block;
  background-color: #CD137C;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 75%;
}

.MiddleBar{
  width: 58%;
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2559A1;
}

.MiddleBarTop {
  height: 47.6%;
  width: 97.4%;
  display:flex;
  justify-content: space-evenly;
  align-items: center;

}

.MiddleBarBottom {
  height: 47.6%;
  width: 97.4%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TenBlockArea {
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  height: 97%;
  width: 47%;
  border: none;
  border-radius: 4px;
  background-color: #F7F091;
}
.OneBlockArea {
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  height: 97%;
  width: 47%;
  border: none;
  border-radius: 4px;
  background-color: #F7F091;
}
.HundredBlockArea{
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  height: 97%;
  width: 97%;
  border: none;
  border-radius: 4px;
  background-color: #F0D23C;
  
}

.TenBlockImages{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45%;
  width: 10%;
  margin: 2px;
}

.TenBlockImages img{
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  margin-left:auto;
  margin-right: auto;
  object-fit:contain;
}

.OneBlockImages{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23%;
  width: 23%;
  margin: 1%;
}

.OneBlockImages img{
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.HundredBlockImages{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  width: 20%;
  margin: 1%;
}

.HundredBlockImages img{
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.RightBar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 97.5%;
}
.Question{
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Tahoma, Geneva, sans-serif;
  color: white;
  width: 97.5%;
  height: 50%;
  font-size: 2vw;  
  text-align: center;
}
.Counter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 97.5%;
  height: 22.5%;
  font-size: 1.75vw; 
}

.CounterNameBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 97.5%;
  height: 50%;
}

#CounterName {
  font-family: Tahoma, Geneva, sans-serif;
  color: white;
  vertical-align: bottom;
  margin-bottom: 3px;
}

#CounterTextBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  background-color: #DB8300;
  height: 23%;
  width: 50%;
}

#CounterText {
  font-family: Tahoma, Geneva, sans-serif;
  color: white;
}

.SubmitClear{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 97.5%;
  height: 22.5%;
  
}

.SubmitClear button{
  border-radius: 4px;
  margin-bottom: 7px;
  width: 90%;
  height: 25%;
  border: none;
  color: white;
  background-color: #CD137C;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1.5vw;
}

#TryAgainNextQues {
  border-radius: 4px;
  margin-bottom: 7px;
  border: none;
  color: white;
  background-color: #CD137C;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 67%;
  visibility: hidden;
}

#AnswerFeedback {
  visibility: hidden;
}